.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide img {
    display: inline-block;
    margin: auto;
}

.tp-brand__item {
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .tp-brand__item img {
        max-width: 80%;
    }
}
/* header.css */
.fly-in {
    position: relative;
    top: -10vh;
    left: 50%;
    transform: translate(-50%, 0);
    /* animation: flyIn 1s ease-out forwards; */
}

/* @keyframes flyIn {
    0% {
        transform: translate(-50%, 100vh);
    }
    100% {
        transform: translate(-50%, 0);
    }
} */

/* Other styles... */

.container {
  position: relative;
  display: inline-block;
}

.image {
  width: 12rem; /* Adjust as needed */
  display: block;
  margin: auto;
  /* margin-top: 22px; */
}

.icons-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 300px; /* Adjust based on your needs */
  height: 300px; /* Adjust based on your needs */
  transform: translate(-50%, -50%); /* Center the container */
}

.icon {
  position: absolute;
  width: 60px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  transform: translate(-50%, -50%);
}

.icon:nth-child(1) { top: 40%; right: -90%; } /* Top center */
.icon:nth-child(2) { top: 0%; right: -70%; } /* Right center */
.icon:nth-child(3) { bottom: 110%; left: 120%; } /* Bottom center */
.icon:nth-child(4) { top: -30%; left: 70%; } /* Left center */
.icon:nth-child(5) { top: 0%; left: 30%; } /* Top right */
.icon:nth-child(6) { top: 40%; left: 20%; } /* Bottom left */
